
.results {
  margin-top: 42px;
}

.info {
  font-size: 2em;
  color: $gray-lighter;

  .glyphicon {
    margin-bottom: 24px;
    display: block;
    font-size: 5em;
    color: $gray-lighter;
  }
}

.info-dark {
  color: $gray-dark;
}
